In [1]:
import pandas as pd
from statsmodels.stats import diagnostic
from scipy import stats
import statsmodels.api as sm
import statsmodels.formula.api as smf
import numpy as np

# Data for 2019 extension

## World Values Survey

In [2]:
df = pd.read_csv(
    'WVS_Cross-National_Wave_7_csv_v5_0.csv')
df.columns

/var/folders/rm/7_ymgfb97mbb78p4rhq92vww0000gn/T/ipykernel_46058/325629717.py:1: DtypeWarning: Columns (345,347,349,574,575,576) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(

Index(['version', 'doi', 'A_WAVE', 'A_YEAR', 'A_STUDY', 'B_COUNTRY',
       'B_COUNTRY_ALPHA', 'C_COW_NUM', 'C_COW_ALPHA', 'D_INTERVIEW',
       ...
       'WVS_Polmistrust_PartyVoter', 'WVS_LR_MedianVoter',
       'WVS_LibCon_MedianVoter', 'v2psbars', 'v2psorgs', 'v2psprbrch',
       'v2psprlnks', 'v2psplats', 'v2xnp_client', 'v2xps_party'],
      dtype='object', length=606)

In [3]:
unem_columns = [column for column in df.columns if 'unem' in column]
unem_columns

['unemployfem', 'unemploymale', 'unemploytotal']

In [4]:
unem_columns.append('B_COUNTRY_ALPHA')

In [5]:
df[unem_columns][df['B_COUNTRY_ALPHA']=='AUS'].value_counts()

unemployfem  unemploymale  unemploytotal  B_COUNTRY_ALPHA
5.33         5.22          5.27           AUS                1813
dtype: int64

## Paper

In [6]:
df_cross_country = pd.read_stata('crosscountry_dataset.dta')
df_cross_country

,isocode,flfp2000,female_ownership,women_politics,plow,agricultural_suitability,tropical_climate,large_animals,political_hierarchies,economic_complexity,...,terrslope2,soil2,avg_temp2,avg_precip2,slope_soil,slope_temp,slope_precip,soil_temp,soil_precip,temp_precip
0,ABW,NaN,NaN,NaN,0.000000,0.829847,1.000000,1.000000,4.000000,7.000000,...,23.248068,0.796877,694.377380,9291.514648,4.304165,127.054840,464.768494,23.523033,86.047607,2540.042725
1,AFG,31.3,2.8,NaN,0.999969,0.229267,0.785295,1.000000,3.633688,6.199330,...,623.563904,0.068421,74.482773,538.041870,6.531851,215.510483,579.226624,2.257479,6.067417,200.187042
2,AGO,75.2,56.6,16.0,0.000000,0.921061,1.000000,0.998896,2.720727,6.697217,...,358.600311,0.970410,418.034027,9126.774414,18.654472,387.178406,1809.105957,20.141113,94.110115,1953.279907
3,AIA,NaN,NaN,NaN,0.000000,0.829847,1.000000,1.000000,4.000000,7.000000,...,23.248068,0.796877,694.377380,9291.514648,4.304165,127.054840,464.768494,23.523033,86.047607,2540.042725
4,ALB,50.2,10.8,5.0,1.000000,0.555928,0.359318,1.000000,3.029723,5.035051,...,986.303772,0.609834,122.236977,6294.060547,24.525124,347.221527,2491.556885,8.633903,61.954281,877.135620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,YUG,NaN,28.8,NaN,1.000000,0.775941,0.080989,1.000000,3.822862,7.444995,...,567.683655,0.759602,116.812553,4452.978027,20.765686,257.512268,1589.931641,9.419717,58.159191,721.223755
230,ZAF,44.3,22.6,30.0,0.540551,0.865508,0.901535,0.999999,3.550035,5.920460,...,594.206116,0.745225,312.183350,4103.467285,21.043222,430.698578,1561.507446,15.252764,55.299240,1131.827759
231,ZAR,55.5,38.9,NaN,0.000000,0.423659,1.000000,0.928739,2.383938,6.545618,...,104.809097,0.970129,546.375610,15426.306641,10.083570,239.301346,1271.541260,23.022926,122.333626,2903.197754
232,ZMB,62.1,37.2,10.0,0.000000,0.955900,1.000000,0.754301,2.390349,5.871349,...,139.062561,0.892828,442.156647,7636.923828,11.142666,247.966599,1030.538818,19.868818,82.573975,1837.584473
233,ZWE,64.0,56.2,14.0,0.000002,0.913061,1.000000,0.994593,3.104864,6.337659,...,365.561829,0.890949,406.286194,2897.081787,18.047073,385.386444,1029.107666,19.025778,50.805035,1084.916748

In [7]:
df_cross_country[df_cross_country['isocode'] == 'USA']

,isocode,flfp2000,female_ownership,women_politics,plow,agricultural_suitability,tropical_climate,large_animals,political_hierarchies,economic_complexity,...,terrslope2,soil2,avg_temp2,avg_precip2,slope_soil,slope_temp,slope_precip,soil_temp,soil_precip,temp_precip
217,USA,59.5,NaN,13.0,0.972528,0.855395,0.043982,0.994987,3.949898,7.927381,...,270.071136,0.944029,75.51651,7971.624512,15.967307,142.810471,1467.27832,8.443326,86.749306,775.8797

## World Bank (for all indicators)

In [8]:
df = pd.read_csv('data_table3.csv').set_index(['Country Name', 'Country Code'])

In [9]:
df

                                                                                                     Series Name  \
Country Name                                     Country Code
Afghanistan                                      AFG           Labor force participation rate, female (% of f...
                                                 AFG           Firms with female participation in ownership (...
                                                 AFG           Proportion of seats held by women in national ...
Albania                                          ALB           Labor force participation rate, female (% of f...
                                                 ALB           Firms with female participation in ownership (...
...                                                                                                          ...
NaN                                              NaN                                                         NaN
                                                 NaN                                                         NaN
                                                 NaN                                                         NaN
Data from database: World Development Indicators NaN                                                         NaN
Last Updated: 12/22/2022                         NaN                                                         NaN

                                                                     Series Code  \
Country Name                                     Country Code
Afghanistan                                      AFG           SL.TLF.ACTI.FE.ZS
                                                 AFG              IC.FRM.FEMO.ZS
                                                 AFG              SG.GEN.PARL.ZS
Albania                                          ALB           SL.TLF.ACTI.FE.ZS
                                                 ALB              IC.FRM.FEMO.ZS
...                                                                          ...
NaN                                              NaN                         NaN
                                                 NaN                         NaN
                                                 NaN                         NaN
Data from database: World Development Indicators NaN                         NaN
Last Updated: 12/22/2022                         NaN                         NaN

                                                              1999 [YR1999]  \
Country Name                                     Country Code
Afghanistan                                      AFG                   15.4
                                                 AFG                     ..
                                                 AFG                     ..
Albania                                          ALB                  58.87
                                                 ALB                     ..
...                                                                     ...
NaN                                              NaN                    NaN
                                                 NaN                    NaN
                                                 NaN                    NaN
Data from database: World Development Indicators NaN                    NaN
Last Updated: 12/22/2022                         NaN                    NaN

                                                              2000 [YR2000]  \
Country Name                                     Country Code
Afghanistan                                      AFG                  15.35
                                                 AFG                     ..
                                                 AFG                     ..
Albania                                          ALB                  57.89
                                                 ALB                     ..
...                                                                     ...
NaN                                              NaN                    NaN
                                                 NaN                    NaN
                                                 NaN                    NaN
Data from database: World Development Indicators NaN                    NaN
Last Updated: 12/22/2022                         NaN                    NaN

                                                              2001 [YR2001]  \
Country Name                                     Country Code
Afghanistan                                      AFG                   15.5
                                                 AFG                     ..
                                                 AFG                     ..
Albania                                          ALB                  56.71
                                                 ALB                     ..
...                                                                     ...
NaN                                              NaN                    NaN
                                                 NaN                    NaN
                                                 NaN                    NaN
Data from database: World Development Indicators NaN                    NaN
Last Updated: 12/22/2022                         NaN                    NaN

                                                              2002 [YR2002]  \
Country Name                                     Country Code
Afghanistan                                      AFG                   15.7
                                                 AFG                     ..
                                                 AFG                     ..
Albania                                          ALB                  56.06
                                                 ALB                     ..
...                                                                     ...
NaN                                              NaN                    NaN
                                                 NaN                    NaN
                                                 NaN                    NaN
Data from database: World Development Indicators NaN                    NaN
Last Updated: 12/22/2022                         NaN                    NaN

                                                              2003 [YR2003]  \
Country Name                                     Country Code
Afghanistan                                      AFG                  15.92
                                                 AFG                     ..
                                                 AFG                     ..
Albania                                          ALB                   55.3
                                                 ALB                     ..
...                                                                     ...
NaN                                              NaN                    NaN
                                                 NaN                    NaN
                                                 NaN                    NaN
Data from database: World Development Indicators NaN                    NaN
Last Updated: 12/22/2022                         NaN                    NaN

                                                              2004 [YR2004]  \
Country Name                                     Country Code
Afghanistan                                      AFG                  16.13
                                                 AFG                     ..
                                                 AFG                     ..
Albania                                          ALB                  54.57
                                                 ALB                     ..
...                                                                     ...
NaN                                              NaN                    NaN
                                                 NaN                    NaN
                                                 NaN                    NaN
Data from database: World Development Indicators NaN                    NaN
Last Updated: 12/22/2022                         NaN                    NaN

                                                                  2005 [YR2005]  \
Country Name                                     Country Code
Afghanistan                                      AFG                      16.33
                                                 AFG                         ..
                                                 AFG           27.3092369477912
Albania                                          ALB                      53.88
                                                 ALB                       12.8
...                                                                         ...
NaN                                              NaN                        NaN
                                                 NaN                        NaN
                                                 NaN                        NaN
Data from database: World Development Indicators NaN                        NaN
Last Updated: 12/22/2022                         NaN                        NaN

                                                                  2006 [YR2006]  \
Country Name                                     Country Code
Afghanistan                                      AFG                      16.12
                                                 AFG                         ..
                                                 AFG           27.3092369477912
Albania                                          ALB                      53.43
                                                 ALB                         ..
...                                                                         ...
NaN                                              NaN                        NaN
                                                 NaN                        NaN
                                                 NaN                        NaN
Data from database: World Development Indicators NaN                        NaN
Last Updated: 12/22/2022                         NaN                        NaN

                                                               ...  \
Country Name                                     Country Code  ...
Afghanistan                                      AFG           ...
                                                 AFG           ...
                                                 AFG           ...
Albania                                          ALB           ...
                                                 ALB           ...
...                                                            ...
NaN                                              NaN           ...
                                                 NaN           ...
                                                 NaN           ...
Data from database: World Development Indicators NaN           ...
Last Updated: 12/22/2022                         NaN           ...

                                                                 2012 [YR2012]  \
Country Name                                     Country Code
Afghanistan                                      AFG                     16.44
                                                 AFG                        ..
                                                 AFG           27.710843373494
Albania                                          ALB                      55.1
                                                 ALB                        ..
...                                                                        ...
NaN                                              NaN                       NaN
                                                 NaN                       NaN
                                                 NaN                       NaN
Data from database: World Development Indicators NaN                       NaN
Last Updated: 12/22/2022                         NaN                       NaN

                                                                 2013 [YR2013]  \
Country Name                                     Country Code
Afghanistan                                      AFG                     17.42
                                                 AFG                        ..
                                                 AFG           27.710843373494
Albania                                          ALB                     50.58
                                                 ALB                      13.1
...                                                                        ...
NaN                                              NaN                       NaN
                                                 NaN                       NaN
                                                 NaN                       NaN
Data from database: World Development Indicators NaN                       NaN
Last Updated: 12/22/2022                         NaN                       NaN

                                                                 2014 [YR2014]  \
Country Name                                     Country Code
Afghanistan                                      AFG                     18.46
                                                 AFG                       2.2
                                                 AFG           27.710843373494
Albania                                          ALB                     50.18
                                                 ALB                        ..
...                                                                        ...
NaN                                              NaN                       NaN
                                                 NaN                       NaN
                                                 NaN                       NaN
Data from database: World Development Indicators NaN                       NaN
Last Updated: 12/22/2022                         NaN                       NaN

                                                                 2015 [YR2015]  \
Country Name                                     Country Code
Afghanistan                                      AFG                     19.55
                                                 AFG                        ..
                                                 AFG           27.710843373494
Albania                                          ALB                     54.05
                                                 ALB                        ..
...                                                                        ...
NaN                                              NaN                       NaN
                                                 NaN                       NaN
                                                 NaN                       NaN
Data from database: World Development Indicators NaN                       NaN
Last Updated: 12/22/2022                         NaN                       NaN

                                                                 2016 [YR2016]  \
Country Name                                     Country Code
Afghanistan                                      AFG                      20.7
                                                 AFG                        ..
                                                 AFG           27.710843373494
Albania                                          ALB                      56.4
                                                 ALB                        ..
...                                                                        ...
NaN                                              NaN                       NaN
                                                 NaN                       NaN
                                                 NaN                       NaN
Data from database: World Development Indicators NaN                       NaN
Last Updated: 12/22/2022                         NaN                       NaN

                                                                 2017 [YR2017]  \
Country Name                                     Country Code
Afghanistan                                      AFG                     21.91
                                                 AFG                        ..
                                                 AFG           27.710843373494
Albania                                          ALB                     55.54
                                                 ALB                        ..
...                                                                        ...
NaN                                              NaN                       NaN
                                                 NaN                       NaN
                                                 NaN                       NaN
Data from database: World Development Indicators NaN                       NaN
Last Updated: 12/22/2022                         NaN                       NaN

                                                              2018 [YR2018]  \
Country Name                                     Country Code
Afghanistan                                      AFG                  22.32
                                                 AFG                     ..
                                                 AFG                     ..
Albania                                          ALB                  59.12
                                                 ALB                     ..
...                                                                     ...
NaN                                              NaN                    NaN
                                                 NaN                    NaN
                                                 NaN                    NaN
Data from database: World Development Indicators NaN                    NaN
Last Updated: 12/22/2022                         NaN                    NaN

                                                                  2019 [YR2019]  \
Country Name                                     Country Code
Afghanistan                                      AFG                      22.74
                                                 AFG                         ..
                                                 AFG           27.8688524590164
Albania                                          ALB                      61.46
                                                 ALB                       20.7
...                                                                         ...
NaN                                              NaN                        NaN
                                                 NaN                        NaN
                                                 NaN                        NaN
Data from database: World Development Indicators NaN                        NaN
Last Updated: 12/22/2022                         NaN                        NaN

                                                                  2020 [YR2020]  \
Country Name                                     Country Code
Afghanistan                                      AFG                         ..
                                                 AFG                         ..
                                                 AFG           27.0161290322581
Albania                                          ALB                         ..
                                                 ALB                         ..
...                                                                         ...

### Female ownership 2010-2019, replace missing values with previous years

In [10]:
female_ownership2010_to_2019 = df[df['Series Name'] == 'Firms with female participation in ownership (% of firms)'][['2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]', '2008 [YR2008]',
                                                                                                                     '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]']].reset_index()
female_ownership2010_to_2019.replace('..', np.nan, inplace=True)
female_ownership2010_to_2019.iloc[:, 2:].astype(float)
female_ownership2010_to_2019

,Country Name,Country Code,2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,2.8,NaN,NaN,NaN,NaN,NaN,2.2,NaN,NaN,NaN,NaN,NaN
1,Albania,ALB,NaN,NaN,12.8,NaN,10.8,NaN,NaN,NaN,NaN,NaN,13.1,NaN,NaN,NaN,NaN,NaN,20.7
2,Algeria,DZA,NaN,NaN,NaN,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Virgin Islands (U.S.),VIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,West Bank and Gaza,PSE,NaN,NaN,NaN,18,NaN,NaN,NaN,NaN,NaN,NaN,10.7,NaN,NaN,NaN,NaN,NaN,6
214,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.4,NaN,NaN,6.6,NaN,NaN,NaN,NaN,NaN,NaN
215,Zambia,ZMB,NaN,NaN,NaN,NaN,37.2,NaN,NaN,NaN,NaN,NaN,43.7,NaN,NaN,NaN,NaN,NaN,41.5
216,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.2,NaN,NaN,NaN,NaN,42.5,NaN,NaN,NaN

In [11]:
for col in range(-2, -11, -1):
    female_ownership2010_to_2019['2019 [YR2019]'] = female_ownership2010_to_2019['2019 [YR2019]'].fillna(
        female_ownership2010_to_2019.iloc[:, col])
    print('values not nan', female_ownership2010_to_2019['2019 [YR2019]'].notna(
    ).sum(), 'year 2019 -', female_ownership2010_to_2019.iloc[:, col].name)

values not nan 47 year 2019 - 2018 [YR2018]
values not nan 58 year 2019 - 2017 [YR2017]
values not nan 75 year 2019 - 2016 [YR2016]
values not nan 83 year 2019 - 2015 [YR2015]
values not nan 94 year 2019 - 2014 [YR2014]
values not nan 107 year 2019 - 2013 [YR2013]
values not nan 108 year 2019 - 2012 [YR2012]
values not nan 111 year 2019 - 2011 [YR2011]
values not nan 130 year 2019 - 2010 [YR2010]

In [12]:
female_ownership2010_to_2019 = female_ownership2010_to_2019[['Country Name', 'Country Code', '2019 [YR2019]']]
female_ownership2010_to_2019

              Country Name Country Code 2019 [YR2019]
0              Afghanistan          AFG           2.2
1                  Albania          ALB          20.7
2                  Algeria          DZA           NaN
3           American Samoa          ASM           NaN
4                  Andorra          AND           NaN
..                     ...          ...           ...
212  Virgin Islands (U.S.)          VIR           NaN
213     West Bank and Gaza          PSE             6
214            Yemen, Rep.          YEM           6.6
215                 Zambia          ZMB          41.5
216               Zimbabwe          ZWE          42.5

[217 rows x 3 columns]

### All indicators

In [13]:
flfp2019 = df[df['Series Name'] == 'Labor force participation rate, female (% of female population ages 15-64) (modeled ILO estimate)']['2019 [YR2019]'].reset_index()
women_politics2019 = df[df['Series Name'] == 'Proportion of seats held by women in national parliaments (%)']['2019 [YR2019]'].reset_index()

In [14]:
[[flfp2019,women_politics2019]]

[[              Country Name Country Code 2019 [YR2019]
  0              Afghanistan          AFG         22.74
  1                  Albania          ALB         61.46
  2                  Algeria          DZA          18.7
  3           American Samoa          ASM            ..
  4                  Andorra          AND            ..
  ..                     ...          ...           ...
  212  Virgin Islands (U.S.)          VIR         67.36
  213     West Bank and Gaza          PSE         19.15
  214            Yemen, Rep.          YEM          6.29
  215                 Zambia          ZMB         71.29
  216               Zimbabwe          ZWE         79.11

  [217 rows x 3 columns],
                Country Name Country Code      2019 [YR2019]
  0              Afghanistan          AFG   27.8688524590164
  1                  Albania          ALB   29.5081967213115
  2                  Algeria          DZA   25.7575757575758
  3           American Samoa          ASM                 ..
  4                  Andorra          AND   46.4285714285714
  ..                     ...          ...                ...
  212  Virgin Islands (U.S.)          VIR                 ..
  213     West Bank and Gaza          PSE                 ..
  214            Yemen, Rep.          YEM  0.332225913621262
  215                 Zambia          ZMB   17.9640718562874
  216               Zimbabwe          ZWE   31.8518518518519

  [217 rows x 3 columns]]]

## Paper + WorldBank datasets for 2009

In [15]:
df_cross_country2019 = pd.merge(
    df_cross_country, flfp2019, left_on='isocode', right_on='Country Code', how='left'
).drop(['Country Code', 'Country Name'], axis=1
       ).rename(columns={'2019 [YR2019]': 'flfp2019'}
                ).merge(women_politics2019, left_on='isocode', right_on='Country Code', how='left'
                        ).drop(['Country Code', 'Country Name'], axis=1
                               ).rename(columns={'2019 [YR2019]': 'women_politics2019'}
                                        ).merge(female_ownership2010_to_2019, left_on='isocode', right_on='Country Code', how='left'
                                                ).drop(['Country Code', 'Country Name'], axis=1
                                                       ).rename(columns={'2019 [YR2019]': 'female_ownership2010_to_2019'})

In [16]:
df_cross_country2019[['flfp2019', 'women_politics2019', 'female_ownership2010_to_2019']] = df_cross_country2019[['flfp2019', 'women_politics2019', 'female_ownership2010_to_2019']
                                                                                                        ].replace('..', np.nan).astype(float)

In [17]:
df_cross_country2019

,isocode,flfp2000,female_ownership,women_politics,plow,agricultural_suitability,tropical_climate,large_animals,political_hierarchies,economic_complexity,...,avg_precip2,slope_soil,slope_temp,slope_precip,soil_temp,soil_precip,temp_precip,flfp2019,women_politics2019,female_ownership2010_to_2019
0,ABW,NaN,NaN,NaN,0.000000,0.829847,1.000000,1.000000,4.000000,7.000000,...,9291.514648,4.304165,127.054840,464.768494,23.523033,86.047607,2540.042725,NaN,NaN,NaN
1,AFG,31.3,2.8,NaN,0.999969,0.229267,0.785295,1.000000,3.633688,6.199330,...,538.041870,6.531851,215.510483,579.226624,2.257479,6.067417,200.187042,22.74,27.868852,2.2
2,AGO,75.2,56.6,16.0,0.000000,0.921061,1.000000,0.998896,2.720727,6.697217,...,9126.774414,18.654472,387.178406,1809.105957,20.141113,94.110115,1953.279907,76.88,30.000000,56.6
3,AIA,NaN,NaN,NaN,0.000000,0.829847,1.000000,1.000000,4.000000,7.000000,...,9291.514648,4.304165,127.054840,464.768494,23.523033,86.047607,2540.042725,NaN,NaN,NaN
4,ALB,50.2,10.8,5.0,1.000000,0.555928,0.359318,1.000000,3.029723,5.035051,...,6294.060547,24.525124,347.221527,2491.556885,8.633903,61.954281,877.135620,61.46,29.508197,20.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,YUG,NaN,28.8,NaN,1.000000,0.775941,0.080989,1.000000,3.822862,7.444995,...,4452.978027,20.765686,257.512268,1589.931641,9.419717,58.159191,721.223755,NaN,NaN,NaN
230,ZAF,44.3,22.6,30.0,0.540551,0.865508,0.901535,0.999999,3.550035,5.920460,...,4103.467285,21.043222,430.698578,1561.507446,15.252764,55.299240,1131.827759,54.07,46.347607,NaN
231,ZAR,55.5,38.9,NaN,0.000000,0.423659,1.000000,0.928739,2.383938,6.545618,...,15426.306641,10.083570,239.301346,1271.541260,23.022926,122.333626,2903.197754,NaN,NaN,NaN
232,ZMB,62.1,37.2,10.0,0.000000,0.955900,1.000000,0.754301,2.390349,5.871349,...,7636.923828,11.142666,247.966599,1030.538818,19.868818,82.573975,1837.584473,71.29,17.964072,41.5
233,ZWE,64.0,56.2,14.0,0.000002,0.913061,1.000000,0.994593,3.104864,6.337659,...,2897.081787,18.047073,385.386444,1029.107666,19.025778,50.805035,1084.916748,79.11,31.851852,42.5

## AES

In [18]:
df_cross_country

,isocode,flfp2000,female_ownership,women_politics,plow,agricultural_suitability,tropical_climate,large_animals,political_hierarchies,economic_complexity,...,terrslope2,soil2,avg_temp2,avg_precip2,slope_soil,slope_temp,slope_precip,soil_temp,soil_precip,temp_precip
0,ABW,NaN,NaN,NaN,0.000000,0.829847,1.000000,1.000000,4.000000,7.000000,...,23.248068,0.796877,694.377380,9291.514648,4.304165,127.054840,464.768494,23.523033,86.047607,2540.042725
1,AFG,31.3,2.8,NaN,0.999969,0.229267,0.785295,1.000000,3.633688,6.199330,...,623.563904,0.068421,74.482773,538.041870,6.531851,215.510483,579.226624,2.257479,6.067417,200.187042
2,AGO,75.2,56.6,16.0,0.000000,0.921061,1.000000,0.998896,2.720727,6.697217,...,358.600311,0.970410,418.034027,9126.774414,18.654472,387.178406,1809.105957,20.141113,94.110115,1953.279907
3,AIA,NaN,NaN,NaN,0.000000,0.829847,1.000000,1.000000,4.000000,7.000000,...,23.248068,0.796877,694.377380,9291.514648,4.304165,127.054840,464.768494,23.523033,86.047607,2540.042725
4,ALB,50.2,10.8,5.0,1.000000,0.555928,0.359318,1.000000,3.029723,5.035051,...,986.303772,0.609834,122.236977,6294.060547,24.525124,347.221527,2491.556885,8.633903,61.954281,877.135620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,YUG,NaN,28.8,NaN,1.000000,0.775941,0.080989,1.000000,3.822862,7.444995,...,567.683655,0.759602,116.812553,4452.978027,20.765686,257.512268,1589.931641,9.419717,58.159191,721.223755
230,ZAF,44.3,22.6,30.0,0.540551,0.865508,0.901535,0.999999,3.550035,5.920460,...,594.206116,0.745225,312.183350,4103.467285,21.043222,430.698578,1561.507446,15.252764,55.299240,1131.827759
231,ZAR,55.5,38.9,NaN,0.000000,0.423659,1.000000,0.928739,2.383938,6.545618,...,104.809097,0.970129,546.375610,15426.306641,10.083570,239.301346,1271.541260,23.022926,122.333626,2903.197754
232,ZMB,62.1,37.2,10.0,0.000000,0.955900,1.000000,0.754301,2.390349,5.871349,...,139.062561,0.892828,442.156647,7636.923828,11.142666,247.966599,1030.538818,19.868818,82.573975,1837.584473
233,ZWE,64.0,56.2,14.0,0.000002,0.913061,1.000000,0.994593,3.104864,6.337659,...,365.561829,0.890949,406.286194,2897.081787,18.047073,385.386444,1029.107666,19.025778,50.805035,1084.916748

In [44]:
# compute the average effect size for the outcome columns flfp2000, female_ownership and women_politics
# for each country in the cross-country dataset
df_cross_country['aes'] = pd.concat([df_cross_country['flfp2000'] /
                                     df_cross_country[df_cross_country.plow == 0]['flfp2000'].std(
),
    df_cross_country['female_ownership'] /
    df_cross_country[df_cross_country.plow == 0]['female_ownership'].std(
),
    df_cross_country['women_politics'] /
    df_cross_country[df_cross_country.plow == 0]['women_politics'].std()],
    axis=1
).dropna(how='any').mean(axis=1)


df_cross_country['aes2'] = pd.concat([df_cross_country['flfp2000'] /
                                     df_cross_country[df_cross_country.plow == 0]['flfp2000'].std(
),
    df_cross_country['female_ownership'] /
    df_cross_country[df_cross_country.plow == 0]['female_ownership'].std(
),
    df_cross_country['women_politics'] /
    df_cross_country[df_cross_country.plow == 0]['women_politics'].std()],
    axis=1
).mean(axis=1)

# Data for minutes spent at home extension

In [20]:
df_home = pd.read_excel('time_spent_home.xls').drop(['Indicator Name', 'Indicator Code'], axis=1).iloc[:,:-2]
df_home

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.55556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df_home.iloc[:, 2:] = df_home.iloc[:, 2:].astype(float)
df_home

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.55556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df_home.set_index(['Country Name','Country Code']).T.count().value_counts()

0     177
1      44
2      29
3       6
4       6
5       2
6       1
17      1
dtype: int64

In [23]:
# for col in range(-2, -11, -1):
#     df_home['2019 [YR2019]'] = df_home['2019 [YR2019]'].fillna(
#         df_home.iloc[:, col])
#     print('values not nan', df_home['2019 [YR2019]'].notna(
#     ).sum(), 'year 2019 -', df_home.iloc[:, col].name)

# df_home2019 = df_home[['Country Name', 'Country Code', '2019 [YR2019]']]
# df_home2019

# Regression Models

## Table 3, Paper

In [24]:
mod = smf.ols(formula='flfp2000 ~  plow + agricultural_suitability + tropical_climate + large_animals + political_hierarchies + economic_complexity', data=df_cross_country)
res = mod.fit(cov_type='HC1')
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               flfp2000   R-squared:                       0.222
Model:                            OLS   Adj. R-squared:                  0.195
Method:                 Least Squares   F-statistic:                     7.306
Date:                Tue, 24 Jan 2023   Prob (F-statistic):           5.85e-07
Time:                        14:51:28   Log-Likelihood:                -714.44
No. Observations:                 177   AIC:                             1443.
Df Residuals:                     170   BIC:                             1465.
Df Model:                           6
Covariance Type:                  HC1
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                   51.6578      6.338      8.150      0.000      39.236      64.080
plow                       -14.8946      3.318     -4.489      0.000     -21.398      -8.391
agricultural_suitability     9.4066      3.885      2.421      0.015       1.792      17.021
tropical_climate            -8.6444      2.698     -3.204      0.001     -13.933      -3.356
large_animals               10.9032      5.032      2.167      0.030       1.040      20.767
political_hierarchies       -0.7868      1.622     -0.485      0.628      -3.967       2.393
economic_complexity          0.1701      0.849      0.200      0.841      -1.494       1.834
==============================================================================
Omnibus:                        1.834   Durbin-Watson:                   1.920
Prob(Omnibus):                  0.400   Jarque-Bera (JB):                1.863
Skew:                           0.241   Prob(JB):                        0.394
Kurtosis:                       2.856   Cond. No.                         64.3
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)

In [25]:
mod = smf.ols(formula='female_ownership ~  plow + agricultural_suitability + tropical_climate + large_animals + political_hierarchies + economic_complexity', data=df_cross_country)
res = mod.fit(cov_type='HC1')
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       female_ownership   R-squared:                       0.179
Model:                            OLS   Adj. R-squared:                  0.138
Method:                 Least Squares   F-statistic:                     4.871
Date:                Tue, 24 Jan 2023   Prob (F-statistic):           0.000172
Time:                        14:51:28   Log-Likelihood:                -517.04
No. Observations:                 128   AIC:                             1048.
Df Residuals:                     121   BIC:                             1068.
Df Model:                           6
Covariance Type:                  HC1
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                   34.4815     10.386      3.320      0.001      14.125      54.837
plow                       -16.2427      3.854     -4.215      0.000     -23.796      -8.690
agricultural_suitability     1.5142      5.358      0.283      0.777      -8.988      12.016
tropical_climate           -11.0909      3.608     -3.074      0.002     -18.163      -4.018
large_animals               -0.6489      9.130     -0.071      0.943     -18.543      17.245
political_hierarchies        1.5020      1.845      0.814      0.416      -2.115       5.119
economic_complexity          1.8100      1.023      1.769      0.077      -0.195       3.815
==============================================================================
Omnibus:                        2.693   Durbin-Watson:                   1.799
Prob(Omnibus):                  0.260   Jarque-Bera (JB):                2.319
Skew:                           0.221   Prob(JB):                        0.314
Kurtosis:                       2.510   Cond. No.                         67.1
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)

In [26]:
mod = smf.ols(formula='women_politics ~  plow + agricultural_suitability + tropical_climate + large_animals + political_hierarchies + economic_complexity', data=df_cross_country)
res = mod.fit(cov_type='HC1')
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         women_politics   R-squared:                       0.174
Model:                            OLS   Adj. R-squared:                  0.140
Method:                 Least Squares   F-statistic:                     4.415
Date:                Tue, 24 Jan 2023   Prob (F-statistic):           0.000393
Time:                        14:51:28   Log-Likelihood:                -538.96
No. Observations:                 153   AIC:                             1092.
Df Residuals:                     146   BIC:                             1113.
Df Model:                           6
Covariance Type:                  HC1
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                   17.0958      4.810      3.554      0.000       7.668      26.523
plow                        -2.5221      1.967     -1.282      0.200      -6.378       1.334
agricultural_suitability     1.0087      2.799      0.360      0.719      -4.478       6.495
tropical_climate            -7.6712      2.370     -3.237      0.001     -12.315      -3.027
large_animals               -9.1516      4.052     -2.259      0.024     -17.093      -1.210
political_hierarchies        0.9058      0.740      1.225      0.221      -0.544       2.355
economic_complexity          1.0824      0.491      2.206      0.027       0.121       2.044
==============================================================================
Omnibus:                       22.584   Durbin-Watson:                   2.051
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               27.442
Skew:                           0.963   Prob(JB):                     1.10e-06
Kurtosis:                       3.772   Cond. No.                         61.8
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)

In [38]:
mod = smf.ols(formula='aes ~  plow + agricultural_suitability + tropical_climate + large_animals + political_hierarchies + economic_complexity', data=df_cross_country)
res = mod.fit(cov_type='HC1')
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    aes   R-squared:                       0.254
Model:                            OLS   Adj. R-squared:                  0.209
Method:                 Least Squares   F-statistic:                     5.679
Date:                Tue, 24 Jan 2023   Prob (F-statistic):           4.12e-05
Time:                        14:52:49   Log-Likelihood:                -79.668
No. Observations:                 107   AIC:                             173.3
Df Residuals:                     100   BIC:                             192.0
Df Model:                           6
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                    2.0202      0.380      5.318      0.000       1.267       2.774
plow                        -0.7357      0.154     -4.790      0.000      -1.040      -0.431
agricultural_suitability     0.3119      0.197      1.581      0.117      -0.080       0.704
tropical_climate            -0.3224      0.160     -2.019      0.046      -0.639      -0.006
large_animals                0.1739      0.314      0.555      0.580      -0.448       0.796
political_hierarchies        0.0799      0.072      1.108      0.270      -0.063       0.223
economic_complexity          0.0484      0.040      1.200      0.233      -0.032       0.129
==============================================================================
Omnibus:                        8.643   Durbin-Watson:                   2.090
Prob(Omnibus):                  0.013   Jarque-Bera (JB):               11.042
Skew:                           0.422   Prob(JB):                      0.00400
Kurtosis:                       4.329   Cond. No.                         62.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### Continent fixed effects

In [28]:
mod = smf.ols(formula='flfp2000 ~  plow + agricultural_suitability + tropical_climate + large_animals + political_hierarchies + economic_complexity + C(continent)', data=df_cross_country)
res = mod.fit(cov_type='HC1')
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               flfp2000   R-squared:                       0.284
Model:                            OLS   Adj. R-squared:                  0.237
Method:                 Least Squares   F-statistic:                     413.9
Date:                Tue, 24 Jan 2023   Prob (F-statistic):          2.28e-116
Time:                        14:51:28   Log-Likelihood:                -707.09
No. Observations:                 177   AIC:                             1438.
Df Residuals:                     165   BIC:                             1476.
Df Model:                          11
Covariance Type:                  HC1
=================================================================================================
                                    coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                        44.3944      5.682      7.813      0.000      33.258      55.531
C(continent)[T.Africa]           14.1933      3.196      4.441      0.000       7.929      20.458
C(continent)[T.Asia]             10.1779      3.314      3.071      0.002       3.683      16.673
C(continent)[T.Europe]            4.5342      4.011      1.130      0.258      -3.327      12.395
C(continent)[T.North America]     1.1243      2.815      0.399      0.690      -4.392       6.641
C(continent)[T.Oceania]          10.1077      5.967      1.694      0.090      -1.588      21.804
C(continent)[T.South America]     4.2570      2.810      1.515      0.130      -1.250       9.764
plow                            -15.9616      3.881     -4.113      0.000     -23.568      -8.355
agricultural_suitability          9.0172      4.236      2.129      0.033       0.715      17.320
tropical_climate                -12.3887      3.302     -3.752      0.000     -18.861      -5.917
large_animals                     2.3501      5.956      0.395      0.693      -9.324      14.024
political_hierarchies             0.4474      1.624      0.275      0.783      -2.736       3.631
economic_complexity               1.1573      0.859      1.347      0.178      -0.527       2.842
==============================================================================
Omnibus:                        0.063   Durbin-Watson:                   1.884
Prob(Omnibus):                  0.969   Jarque-Bera (JB):                0.043
Skew:                           0.034   Prob(JB):                        0.979
Kurtosis:                       2.968   Cond. No.                     3.24e+16
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The smallest eigenvalue is 9.33e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [29]:
mod = smf.ols(formula='female_ownership ~  plow + agricultural_suitability + tropical_climate + large_animals + political_hierarchies + economic_complexity + C(continent)', data=df_cross_country)
res = mod.fit(cov_type='HC1')
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       female_ownership   R-squared:                       0.233
Model:                            OLS   Adj. R-squared:                  0.161
Method:                 Least Squares   F-statistic:                     272.2
Date:                Tue, 24 Jan 2023   Prob (F-statistic):           6.52e-79
Time:                        14:51:28   Log-Likelihood:                -512.63
No. Observations:                 128   AIC:                             1049.
Df Residuals:                     116   BIC:                             1083.
Df Model:                          11
Covariance Type:                  HC1
=================================================================================================
                                    coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                        31.5563      9.726      3.244      0.001      12.493      50.620
C(continent)[T.Africa]           -3.6204      3.370     -1.074      0.283     -10.225       2.984
C(continent)[T.Asia]              3.6521      3.699      0.987      0.323      -3.597      10.902
C(continent)[T.Europe]           10.4877      5.986      1.752      0.080      -1.244      22.219
C(continent)[T.North America]     4.3920      3.728      1.178      0.239      -2.914      11.698
C(continent)[T.Oceania]          13.6862      5.112      2.677      0.007       3.667      23.705
C(continent)[T.South America]     2.9587      3.588      0.825      0.410      -4.074       9.992
plow                            -17.8058      4.475     -3.979      0.000     -26.576      -9.035
agricultural_suitability          4.6190      5.836      0.792      0.429      -6.818      16.057
tropical_climate                 -3.9743      5.542     -0.717      0.473     -14.836       6.888
large_animals                     4.4752     10.034      0.446      0.656     -15.192      24.142
political_hierarchies             0.5204      1.773      0.293      0.769      -2.955       3.996
economic_complexity               0.5172      1.351      0.383      0.702      -2.131       3.166
==============================================================================
Omnibus:                        2.780   Durbin-Watson:                   1.876
Prob(Omnibus):                  0.249   Jarque-Bera (JB):                2.586
Skew:                           0.270   Prob(JB):                        0.274
Kurtosis:                       2.560   Cond. No.                     2.39e+16
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The smallest eigenvalue is 1.21e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [30]:
mod = smf.ols(formula='women_politics ~  plow + agricultural_suitability + tropical_climate + large_animals + political_hierarchies + economic_complexity + C(continent)', data=df_cross_country)
res = mod.fit(cov_type='HC1')
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         women_politics   R-squared:                       0.202
Model:                            OLS   Adj. R-squared:                  0.140
Method:                 Least Squares   F-statistic:                     31.29
Date:                Tue, 24 Jan 2023   Prob (F-statistic):           6.57e-34
Time:                        14:51:28   Log-Likelihood:                -536.27
No. Observations:                 153   AIC:                             1097.
Df Residuals:                     141   BIC:                             1133.
Df Model:                          11
Covariance Type:                  HC1
=================================================================================================
                                    coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                        15.0601      3.953      3.810      0.000       7.313      22.808
C(continent)[T.Africa]            1.4738      1.547      0.953      0.341      -1.558       4.505
C(continent)[T.Asia]              0.3207      1.781      0.180      0.857      -3.169       3.810
C(continent)[T.Europe]            5.7955      2.476      2.341      0.019       0.943      10.648
C(continent)[T.North America]     3.1429      1.708      1.840      0.066      -0.205       6.491
C(continent)[T.Oceania]           1.4542      3.321      0.438      0.661      -5.054       7.963
C(continent)[T.South America]     2.8731      2.242      1.281      0.200      -1.521       7.268
plow                             -2.3031      2.353     -0.979      0.328      -6.915       2.308
agricultural_suitability         -0.6868      2.925     -0.235      0.814      -6.420       5.047
tropical_climate                 -5.6176      2.265     -2.480      0.013     -10.056      -1.179
large_animals                    -7.3381      4.774     -1.537      0.124     -16.695       2.019
political_hierarchies             0.6994      0.777      0.900      0.368      -0.823       2.222
economic_complexity               0.7272      0.510      1.425      0.154      -0.273       1.727
==============================================================================
Omnibus:                       23.148   Durbin-Watson:                   2.058
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               28.372
Skew:                           0.975   Prob(JB):                     6.90e-07
Kurtosis:                       3.807   Cond. No.                     4.96e+16
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The smallest eigenvalue is 3.5e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [47]:
mod = smf.ols(formula='aes ~  plow + agricultural_suitability + tropical_climate + large_animals + political_hierarchies + economic_complexity + C(continent)', data=df_cross_country)
res = mod.fit(cov_type='HC1')
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    aes   R-squared:                       0.300
Model:                            OLS   Adj. R-squared:                  0.219
Method:                 Least Squares   F-statistic:                     298.8
Date:                Tue, 24 Jan 2023   Prob (F-statistic):           8.71e-70
Time:                        15:02:30   Log-Likelihood:                -76.255
No. Observations:                 107   AIC:                             176.5
Df Residuals:                      95   BIC:                             208.6
Df Model:                          11
Covariance Type:                  HC1
=================================================================================================
                                    coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                         1.7038      0.306      5.567      0.000       1.104       2.304
C(continent)[T.Africa]            0.1094      0.123      0.889      0.374      -0.132       0.350
C(continent)[T.Asia]              0.3097      0.156      1.987      0.047       0.004       0.615
C(continent)[T.Europe]            0.7229      0.189      3.825      0.000       0.352       1.093
C(continent)[T.North America]     0.0638      0.142      0.450      0.653      -0.214       0.341
C(continent)[T.Oceania]           0.2809      0.234      1.201      0.230      -0.177       0.739
C(continent)[T.South America]     0.2172      0.146      1.487      0.137      -0.069       0.504
plow                             -0.9195      0.180     -5.118      0.000      -1.272      -0.567
agricultural_suitability          0.3247      0.240      1.353      0.176      -0.146       0.795
tropical_climate                 -0.0039      0.185     -0.021      0.983      -0.366       0.358
large_animals                     0.2961      0.262      1.130      0.259      -0.218       0.810
political_hierarchies             0.0620      0.078      0.796      0.426      -0.091       0.215
economic_complexity               0.0176      0.047      0.375      0.707      -0.074       0.110
==============================================================================
Omnibus:                       10.018   Durbin-Watson:                   2.145
Prob(Omnibus):                  0.007   Jarque-Bera (JB):               14.862
Skew:                           0.424   Prob(JB):                     0.000593
Kurtosis:                       4.617   Cond. No.                     2.46e+16
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The smallest eigenvalue is 9.38e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

## Table 3, 2019 Extension

In [31]:
mod = smf.ols(formula='flfp2019 ~  plow + agricultural_suitability + tropical_climate + large_animals + political_hierarchies + economic_complexity', data=df_cross_country2019)
res = mod.fit(cov_type='HC1')
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               flfp2019   R-squared:                       0.260
Model:                            OLS   Adj. R-squared:                  0.233
Method:                 Least Squares   F-statistic:                     9.045
Date:                Tue, 24 Jan 2023   Prob (F-statistic):           1.44e-08
Time:                        14:51:28   Log-Likelihood:                -718.92
No. Observations:                 175   AIC:                             1452.
Df Residuals:                     168   BIC:                             1474.
Df Model:                           6
Covariance Type:                  HC1
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                   60.9987      8.404      7.258      0.000      44.528      77.470
plow                       -12.6928      3.955     -3.210      0.001     -20.444      -4.942
agricultural_suitability     8.5629      4.052      2.113      0.035       0.620      16.505
tropical_climate           -16.4004      3.133     -5.234      0.000     -22.542     -10.259
large_animals               -2.7768      6.236     -0.445      0.656     -15.000       9.446
political_hierarchies       -0.3747      1.598     -0.235      0.815      -3.507       2.757
economic_complexity          2.5622      0.908      2.821      0.005       0.782       4.342
==============================================================================
Omnibus:                        1.156   Durbin-Watson:                   1.908
Prob(Omnibus):                  0.561   Jarque-Bera (JB):                1.107
Skew:                          -0.193   Prob(JB):                        0.575
Kurtosis:                       2.941   Cond. No.                         64.0
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)

In [32]:
mod = smf.ols(formula='women_politics2019 ~  plow + agricultural_suitability + tropical_climate + large_animals + political_hierarchies + economic_complexity', data=df_cross_country2019)
res = mod.fit(cov_type='HC1')
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     women_politics2019   R-squared:                       0.108
Model:                            OLS   Adj. R-squared:                  0.077
Method:                 Least Squares   F-statistic:                     4.099
Date:                Tue, 24 Jan 2023   Prob (F-statistic):           0.000714
Time:                        14:51:28   Log-Likelihood:                -694.48
No. Observations:                 180   AIC:                             1403.
Df Residuals:                     173   BIC:                             1425.
Df Model:                           6
Covariance Type:                  HC1
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                   33.3028      5.253      6.340      0.000      23.007      43.599
plow                        -2.7416      2.988     -0.917      0.359      -8.599       3.115
agricultural_suitability     4.9009      3.469      1.413      0.158      -1.899      11.701
tropical_climate            -4.9457      2.632     -1.879      0.060     -10.105       0.214
large_animals              -12.9401      4.934     -2.623      0.009     -22.611      -3.269
political_hierarchies        2.5143      1.271      1.978      0.048       0.023       5.005
economic_complexity         -0.5672      0.483     -1.173      0.241      -1.515       0.380
==============================================================================
Omnibus:                       11.854   Durbin-Watson:                   1.819
Prob(Omnibus):                  0.003   Jarque-Bera (JB):               12.564
Skew:                           0.643   Prob(JB):                      0.00187
Kurtosis:                       3.137   Cond. No.                         65.1
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)

In [33]:
mod = smf.ols(formula='female_ownership2010_to_2019 ~  plow + agricultural_suitability + tropical_climate + large_animals + political_hierarchies + economic_complexity', data=df_cross_country2019)
res = mod.fit(cov_type='HC1')
print(res.summary())

                                 OLS Regression Results
========================================================================================
Dep. Variable:     female_ownership2010_to_2019   R-squared:                       0.154
Model:                                      OLS   Adj. R-squared:                  0.111
Method:                           Least Squares   F-statistic:                     3.980
Date:                          Tue, 24 Jan 2023   Prob (F-statistic):            0.00117
Time:                                  14:51:28   Log-Likelihood:                -508.61
No. Observations:                           124   AIC:                             1031.
Df Residuals:                               117   BIC:                             1051.
Df Model:                                     6
Covariance Type:                            HC1
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                   40.5823     11.943      3.398      0.001      17.175      63.990
plow                       -14.6344      3.857     -3.794      0.000     -22.195      -7.074
agricultural_suitability    -2.3711      5.407     -0.439      0.661     -12.968       8.225
tropical_climate            -7.2724      3.511     -2.071      0.038     -14.153      -0.391
large_animals              -21.3183     11.418     -1.867      0.062     -43.697       1.060
political_hierarchies        4.4235      1.877      2.357      0.018       0.744       8.103
economic_complexity          2.3569      0.958      2.461      0.014       0.480       4.234
==============================================================================
Omnibus:                        5.004   Durbin-Watson:                   1.746
Prob(Omnibus):                  0.082   Jarque-Bera (JB):                2.993
Skew:                           0.172   Prob(JB):                        0.224
Kurtosis:                       2.321   Cond. No.                         71.0
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)

### Continent Fixed effects

In [34]:
mod = smf.ols(formula='flfp2019 ~  plow + agricultural_suitability + tropical_climate + large_animals + political_hierarchies + economic_complexity + C(continent)', data=df_cross_country2019)
res = mod.fit(cov_type='HC1')
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               flfp2019   R-squared:                       0.278
Model:                            OLS   Adj. R-squared:                  0.229
Method:                 Least Squares   F-statistic:                     453.6
Date:                Tue, 24 Jan 2023   Prob (F-statistic):          1.85e-118
Time:                        14:51:28   Log-Likelihood:                -716.71
No. Observations:                 175   AIC:                             1457.
Df Residuals:                     163   BIC:                             1495.
Df Model:                          11
Covariance Type:                  HC1
=================================================================================================
                                    coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                        48.9407      7.184      6.813      0.000      34.861      63.021
C(continent)[T.Africa]            5.9113      3.217      1.837      0.066      -0.394      12.217
C(continent)[T.Asia]              5.6517      3.574      1.581      0.114      -1.354      12.658
C(continent)[T.Europe]           12.0251      3.901      3.082      0.002       4.378      19.672
C(continent)[T.North America]     4.1866      3.097      1.352      0.176      -1.883      10.256
C(continent)[T.Oceania]          12.5790      5.584      2.253      0.024       1.635      23.523
C(continent)[T.South America]     8.5871      2.997      2.866      0.004       2.714      14.460
plow                            -13.3140      4.457     -2.987      0.003     -22.049      -4.579
agricultural_suitability          8.2052      4.641      1.768      0.077      -0.892      17.302
tropical_climate                -12.7024      3.634     -3.496      0.000     -19.824      -5.580
large_animals                     0.5547      6.776      0.082      0.935     -12.726      13.836
political_hierarchies            -0.2335      1.693     -0.138      0.890      -3.552       3.085
economic_complexity               2.3760      0.969      2.453      0.014       0.478       4.274
==============================================================================
Omnibus:                        0.897   Durbin-Watson:                   1.921
Prob(Omnibus):                  0.639   Jarque-Bera (JB):                0.782
Skew:                          -0.164   Prob(JB):                        0.676
Kurtosis:                       2.999   Cond. No.                     7.82e+16
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The smallest eigenvalue is 1.58e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [35]:
mod = smf.ols(formula='women_politics2019 ~  plow + agricultural_suitability + tropical_climate + large_animals + political_hierarchies + economic_complexity + C(continent)', data=df_cross_country2019)
res = mod.fit(cov_type='HC1')
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     women_politics2019   R-squared:                       0.192
Model:                            OLS   Adj. R-squared:                  0.139
Method:                 Least Squares   F-statistic:                     79.78
Date:                Tue, 24 Jan 2023   Prob (F-statistic):           7.74e-63
Time:                        14:51:28   Log-Likelihood:                -685.58
No. Observations:                 180   AIC:                             1395.
Df Residuals:                     168   BIC:                             1433.
Df Model:                          11
Covariance Type:                  HC1
=================================================================================================
                                    coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                        28.9098      5.323      5.431      0.000      18.476      39.343
C(continent)[T.Africa]            3.6810      2.409      1.528      0.127      -1.041       8.403
C(continent)[T.Asia]              0.3008      2.458      0.122      0.903      -4.516       5.118
C(continent)[T.Europe]           12.4413      3.049      4.080      0.000       6.465      18.418
C(continent)[T.North America]     7.4507      3.330      2.237      0.025       0.923      13.978
C(continent)[T.Oceania]          -2.7426      4.366     -0.628      0.530     -11.299       5.814
C(continent)[T.South America]     7.7785      3.401      2.287      0.022       1.112      14.445
plow                             -1.3915      3.190     -0.436      0.663      -7.644       4.861
agricultural_suitability          0.7173      3.595      0.199      0.842      -6.330       7.764
tropical_climate                 -0.3918      2.517     -0.156      0.876      -5.325       4.542
large_animals                    -9.0757      6.956     -1.305      0.192     -22.709       4.557
political_hierarchies             1.6731      1.267      1.321      0.187      -0.809       4.156
economic_complexity              -1.1382      0.450     -2.530      0.011      -2.020      -0.256
==============================================================================
Omnibus:                       13.613   Durbin-Watson:                   1.856
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               14.465
Skew:                           0.673   Prob(JB):                     0.000723
Kurtosis:                       3.342   Cond. No.                     1.40e+16
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The smallest eigenvalue is 5.18e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [36]:
mod = smf.ols(formula='female_ownership2010_to_2019 ~  plow + agricultural_suitability + tropical_climate + large_animals + political_hierarchies + economic_complexity + C(continent)', data=df_cross_country2019)
res = mod.fit(cov_type='HC1')
print(res.summary())

                                 OLS Regression Results
========================================================================================
Dep. Variable:     female_ownership2010_to_2019   R-squared:                       0.265
Model:                                      OLS   Adj. R-squared:                  0.192
Method:                           Least Squares   F-statistic:                 3.153e+04
Date:                          Tue, 24 Jan 2023   Prob (F-statistic):          1.44e-191
Time:                                  14:51:28   Log-Likelihood:                -499.91
No. Observations:                           124   AIC:                             1024.
Df Residuals:                               112   BIC:                             1058.
Df Model:                                    11
Covariance Type:                            HC1
=================================================================================================
                                    coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                        24.2202      9.600      2.523      0.012       5.404      43.036
C(continent)[T.Africa]           -7.0828      3.605     -1.965      0.049     -14.149      -0.017
C(continent)[T.Asia]             -0.0834      3.941     -0.021      0.983      -7.808       7.642
C(continent)[T.Europe]           -0.4496      5.486     -0.082      0.935     -11.201      10.302
C(continent)[T.North America]    -0.4817      3.888     -0.124      0.901      -8.102       7.139
C(continent)[T.Oceania]          16.2273      5.124      3.167      0.002       6.184      26.271
C(continent)[T.South America]    16.0904      4.154      3.873      0.000       7.949      24.232
plow                            -13.3627      4.746     -2.816      0.005     -22.664      -4.062
agricultural_suitability          6.2772      5.584      1.124      0.261      -4.668      17.223
tropical_climate                 -3.4350      4.740     -0.725      0.469     -12.726       5.856
large_animals                    -3.2353     11.191     -0.289      0.772     -25.168      18.698
political_hierarchies             3.3905      2.013      1.684      0.092      -0.555       7.336
economic_complexity               1.5207      1.054      1.443      0.149      -0.545       3.586
==============================================================================
Omnibus:                        3.558   Durbin-Watson:                   1.972
Prob(Omnibus):                  0.169   Jarque-Bera (JB):                3.159
Skew:                           0.304   Prob(JB):                        0.206
Kurtosis:                       2.508   Cond. No.                     5.31e+16
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The smallest eigenvalue is 2.41e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.